.title {
  padding-top: 5%;
  font-size: 35px;
}

.title2 {
  font-size: 20px;
}

.form_label {
  text-align: right;
  font-size: 1.6em;
  font-weight: bolder;
  line-height: 25px;
  vertical-align: middle;
  padding-right: 10px;
  padding-bottom: 10px;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  color: rgba(39, 35, 35, 0.7);
}

.textarea {
  height: 200px;
}

.file,
textarea {
  height: 25px;
  width: 700px;
  border: none;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 6px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.textarea {
  height: 600px;
}

.in_won {
  position: relative;
  left: -30px;
}

.like_a_button {
  width: 100px;
  height: 50px;
  background-color: rgb(138, 201, 197);
  font-size: 15px;
}
