
.button {
    
    text-align: center;
    margin-left: 10px;
    margin-top: 2px;
    height: 30px;
    width: 80px;
    color: black;
    background-color: whitesmoke;
}

.button:hover {
    background-color: skyblue;
    color: black;
}