/* Footer */
.footer {
    display: flex;
    justify-content: center;
    background-color: #212121;
    color: #c3c3c3;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__text {
  line-height: 1;
  margin-right: 300px;
}


.stie__name {
    margin-bottom: 1em;
    font-size: 15px;
    font-weight: bold;
}

.footer__text__info {
  font-size: 12px;
}

.copyright {
  border-top: 1px solid rgba(125,125,125,0.5);
  margin: 15px 0;
  padding: 10px 0;
  font-size: 15px;
}

.footer__all_nav {
  font-size: 15px;
  font-weight: bold;
  line-height: 2;
  margin-right: 300px;

}

.footer__policy {
  font-size: 15px;
  font-weight: bold;
  line-height: 2;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link {
  color : #c3c3c3;
}
a:visited {
  color : #c3c3c3;
}
a:hover {
  color : #c3c3c3;
}
a:active {
  color : #c3c3c3;
}

