.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 45px;
    z-index: 1;
    background-color: lightgrey;

    display: flex;
    justify-content: space-between;

    /* Animations */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.logo {
    display: flex;
}

.header__main__menu {
    margin: 6px;
    display: flex;
    padding: 10px 0;

    margin-left:  20%;
    text-decoration: none;
}

.login {
    display: flex;
    margin: 6px;
    margin-right: 10%;
    padding: 10px 0;
    color: black;
    font-weight: bold;
}

button.login {
    display: flex;
    margin: 6px;
    margin-right: 10%;
    padding: 10px 0;
    color: black;
    font-family: suitRegular;
    font-weight: bold;
    outline: 0;
    border: 0;
    background-color: lightgrey;
}

.link {
    
    font-weight: bold;
    padding-right: 20px;
    
}

a:visited {
    color: black;
}

a:hover {
    color: gray;
}

.nav__black {
    background-color: #111;
}

.logo {
    position: fixed;
    left: 40px;
    width: 100px;
    object-fit: contain;
    
}

