.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.login__input {
    width: 300px;
    height: 50px;
    padding-left: 10px;
    margin: 10px;
}
.login__button {
    background-color: rgb(47, 94, 248);
    color: rgb(255, 255, 255);
    font-weight: 700;
    width: 100%;
    border-radius: 40px;
    height: 48px;
    margin-top: 10px;
}
.login__button2 {
    background-color: rgb(47, 94, 248);
    color: rgb(255, 255, 255);
    font-weight: 700;
    width: 100%;
    border-radius: 40px;
    height: 48px;
    margin-top: 10px;
}
.name {
    text-align: center;
    border: 1px solid black;
    width: 8rem;
    height: 4rem;
    margin-top: 2rem;
    font-size: 1rem;
  }