.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.signup__input {
    width: 300px;
    height: 50px;
    padding-left: 10px;
    margin: 10px;
}
.signup__button {
    background-color: rgb(47, 94, 248);
    color: rgb(255, 255, 255);
    font-weight: 700;
    width: 100%;
    border-radius: 40px;
    height: 48px;
    margin-top: 10px;
}
.name {
    text-align: center;
    border: 1px solid black;
    width: 8rem;
    height: 4rem;
    margin-top: 2rem;
    font-size: 1rem;
  }

  select {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  
    color: #444;
    background-color: #fff;
  
    padding: 0.6em 1.4em 0.5em 0.8em;
    margin: 0;
  
    border: 1px solid #aaa;
    border-radius: 0.5em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1 {
    font-size: 200px;
}

.card {
    margin: 120px 150px;

}